/* 메뉴 */
nav.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #e7e7e7;
  padding: 20px 0;
}

nav.menu a {
  text-decoration: none;
  color: rgb(40, 40, 40);
  font-weight: bold;
  cursor: pointer;
}
nav.menu a:hover {
  color: #ff4081;
}

/* 메인 배너 */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #ddd;
  overflow: hidden;
  position: relative;
}

.banner-container {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.banner-slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.banner-slide {
  min-width: 100%;
  height: 100%;
}

.banner-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

/* 상품 리스트 공통 */
section {
  padding: 40px 0;
  text-align: center;
}

section h2 {
  margin-bottom: 30px;
  font-size: 26px;
  color: #222;
  text-align: left;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-list li {
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s;
}

.product-list li:hover {
  transform: translateY(-5px);
}

.product-list img {
  width: 100%;
  max-width: 200px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  color: #151515;
  margin-bottom: 6px;
}

.product-price {
  font-size: 23px;
  color: #575757;
  font-weight: bold;
}
.product-image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.product-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 30px;
  background: linear-gradient(135deg, #ff7692, #ff4081);
  color: white;
  font-size: 14px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
  transition: transform 0.3s;
}

/* 푸터 */
footer {
  background-color: #00796b;
  text-align: center;
  padding: 50px 0;
  color: white;
  margin-top: 40px;
}
