.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  border: 1px solid #5a5a5a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 550px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0 20px 0;
}

.logo {
  display: block;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 마이페이지 */
.mypage-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.mypage-row {
  display: flex;
  flex-direction: column;
}

.mypage-disabled-input {
  width: 450px;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: lightgrey;
}

.mypage-input {
  width: 450px;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mypage-errors {
  color: red;
  font-size: 12px;
}

.mypage-label {
  font-size: 14px;
  font-weight: 500;
}
